/* font converted using font-converter.net. thank you! */
@font-face {
  font-family: "NanumSquareRoundR";
  src: url("./fonts/NanumSquareRoundR.eot"); /* IE9 Compat Modes */
  src: url("./fonts/NanumSquareRoundR.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/NanumSquareRoundR.otf") format("opentype"), /* Open Type Font */
    url("./fonts/NanumSquareRoundR.svg") format("svg"), /* Legacy iOS */
    url("./fonts/NanumSquareRoundR.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/NanumSquareRoundR.woff") format("woff"), /* Modern Browsers */
    url("./fonts/NanumSquareRoundR.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRoundL";
  src: url("./fonts/NanumSquareRoundL.eot"); /* IE9 Compat Modes */
  src: url("./fonts/NanumSquareRoundL.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/NanumSquareRoundL.otf") format("opentype"), /* Open Type Font */
    url("./fonts/NanumSquareRoundL.svg") format("svg"), /* Legacy iOS */
    url("./fonts/NanumSquareRoundL.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/NanumSquareRoundL.woff") format("woff"), /* Modern Browsers */
    url("./fonts/NanumSquareRoundL.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "NanumSquareRoundB";
  src: url("./fonts/NanumSquareRoundB.eot"); /* IE9 Compat Modes */
  src: url("./fonts/NanumSquareRoundB.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("./fonts/NanumSquareRoundB.otf") format("opentype"), /* Open Type Font */
    url("./fonts/NanumSquareRoundB.svg") format("svg"), /* Legacy iOS */
    url("./fonts/NanumSquareRoundB.ttf") format("truetype"), /* Safari, Android, iOS */
    url("./fonts/NanumSquareRoundB.woff") format("woff"), /* Modern Browsers */
    url("./fonts/NanumSquareRoundB.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
